In [1]:
import pandas as pd
import os
# import nltk
# import re
import matplotlib.pyplot as plt

# import wordninja
# from transformers import pipeline
#from transformers import AutoModelFOrSequenceClassification
# from nltk.sentiment import SentimentIntensityAnalyzer
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# from tqdm.notebook import tqdm
# # from scipy.special import softmax
# from textblob import TextBlob
# from wordcloud import WordCloud
import numpy as np

# Loading raw dataset into pandas. The source link is here:
###### r" https://opendata.leipzig.de/en/dataset/arbeitslose-jahreszahlen/resource/c4cc8031-ac8e-47b6-81ac-2c6db662502c "

In [2]:
df = pd.read_csv('Erwerbstätigkeit_und_Arbeitsmarkt_Arbeitslose.csv',decimal=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gebiet       1258 non-null   object
 1   Sachmerkmal  1258 non-null   object
 2   2000         592 non-null    float64
 3   2001         592 non-null    float64
 4   2002         592 non-null    object
 5   2003         592 non-null    float64
 6   2004         592 non-null    float64
 7   2005         592 non-null    float64
 8   2006         740 non-null    float64
 9   2007         740 non-null    float64
 10  2008         740 non-null    float64
 11  2009         740 non-null    float64
 12  2010         740 non-null    float64
 13  2011         666 non-null    float64
 14  2012         740 non-null    float64
 15  2013         740 non-null    float64
 16  2014         740 non-null    float64
 17  2015         740 non-null    float64
 18  2016         740 non-null    float64
 19  2017         740 non-null    float64
 20  2018         1258 non-null   float64
 21  2019         1258 non-null   float64
 22  2020         1184 non-null   float64
 23  2021         1258 non-null   float64
dtypes: float64(21), object(3)
memory usage: 236.0+ KB

In [6]:
df['2002'].replace(".", 
           "", 
           inplace=True)
df['2002'].replace(',', '.', regex=True, inplace=True)

In [7]:
df['2002']=pd.to_numeric(df['2002'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gebiet       1258 non-null   object
 1   Sachmerkmal  1258 non-null   object
 2   2000         592 non-null    float64
 3   2001         592 non-null    float64
 4   2002         590 non-null    float64
 5   2003         592 non-null    float64
 6   2004         592 non-null    float64
 7   2005         592 non-null    float64
 8   2006         740 non-null    float64
 9   2007         740 non-null    float64
 10  2008         740 non-null    float64
 11  2009         740 non-null    float64
 12  2010         740 non-null    float64
 13  2011         666 non-null    float64
 14  2012         740 non-null    float64
 15  2013         740 non-null    float64
 16  2014         740 non-null    float64
 17  2015         740 non-null    float64
 18  2016         740 non-null    float64
 19  2017         740 non-null    float64
 20  2018         1258 non-null   float64
 21  2019         1258 non-null   float64
 22  2020         1184 non-null   float64
 23  2021         1258 non-null   float64
dtypes: float64(22), object(2)
memory usage: 236.0+ KB

In [9]:
df.to_csv("arbeitslose_analysis_leipzig.csv")

# Explore the overall of the data messages. 
### let's take look at each statistical raw in each year in total in the whole city leipzig. so that why we take out 'Gebiet' as this index is not relevent.

In [ ]:
df_no_Gebiet=df[['Sachmerkmal', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

In [ ]:
df_no_Gebiet.head(3)

In [ ]:
df_no_Gebiet['2002'].replace(',', '.', regex=True, inplace=True)

In [ ]:


# l = df_no_Gebiet['2002']
  
# i = 0
# while i < len(l):
#     # replace hardik with shardul
#     for coma in l[i]:
#         if coma == ',':
#             coma.replace(",",".")
#     i += 1    
# # return l
  

  
# # # print list
# print(l.loc[516:520])

In [ ]:
# df_no_Gebiet.loc[240:245,'2002'].str.replace('.','',regex=True)

In [ ]:
df_no_Gebiet.loc[516:520,'2002']

In [ ]:
df_no_Gebiet.loc[516:530,'2002']

# replace Eu decimal ',' to UK version '.' and to enalbe math computing.

In [ ]:
df_no_Gebiet['2002'].replace(".", 
           "", 
           inplace=True)

In [ ]:
# df_no_Gebiet['2000']=pd.to_numeric(df_no_Gebiet['2000'])
# df_no_Gebiet['2001']=pd.to_numeric(df_no_Gebiet['2001'])
df_no_Gebiet['2002']=pd.to_numeric(df_no_Gebiet['2002'])
# df_no_Gebiet['2003']=pd.to_numeric(df_no_Gebiet['2003'])
# df_no_Gebiet['2004']=pd.to_numeric(df_no_Gebiet['2004'])
# df_no_Gebiet['2005']=pd.to_numeric(df_no_Gebiet['2005'])
# df_no_Gebiet['2006']=pd.to_numeric(df_no_Gebiet['2006'])
# df_no_Gebiet['2007']=pd.to_numeric(df_no_Gebiet['2007'])
# df_no_Gebiet['2008']=pd.to_numeric(df_no_Gebiet['2008'])
# df_no_Gebiet['2009']=pd.to_numeric(df_no_Gebiet['2009'])
# df_no_Gebiet['2010']=pd.to_numeric(df_no_Gebiet['2010'])
# df_no_Gebiet['2011']=pd.to_numeric(df_no_Gebiet['2011'])
# df_no_Gebiet['2012']=pd.to_numeric(df_no_Gebiet['2012'])
# df_no_Gebiet['2013']=pd.to_numeric(df_no_Gebiet['2013'])
# df_no_Gebiet['2014']=pd.to_numeric(df_no_Gebiet['2014'])
# df_no_Gebiet['2015']=pd.to_numeric(df_no_Gebiet['2015'])
# df_no_Gebiet['2016']=pd.to_numeric(df_no_Gebiet['2016'])
# df_no_Gebiet['2017']=pd.to_numeric(df_no_Gebiet['2017'])
# df_no_Gebiet['2018']=pd.to_numeric(df_no_Gebiet['2018'])
# df_no_Gebiet['2019']=pd.to_numeric(df_no_Gebiet['2019'])
# df_no_Gebiet['2020']=pd.to_numeric(df_no_Gebiet['2020'])
# df_no_Gebiet['2021']=pd.to_numeric(df_no_Gebiet['2021'])

# Slicing data to check if its converted successfully

In [ ]:
df_no_Gebiet.info()   # we will see columns starting from 2009 is still object dtype. This is because the numbers in the csv file is too large to process.

In [ ]:
df_no_Gebiet.loc[520] # let's take a look at the exact data in the row where erro reported.  we see the numbers is at 9 decimals.

In [ ]:
leipzig_unemployments_revolution = round(df_no_Gebiet.groupby(df_no_Gebiet.Sachmerkmal).agg('sum'),2)
ausländer_revolustion = leipzig_unemployments_revolution.loc['Ausländer',:]
ausländer_revolustion.plot()

In [ ]:
df_no_Gebiet

In [ ]:
df_no_Gebiet.to_csv("arbeitslose_analysis_leipzig.csv")